<ion-app>
  <ion-header mode="ios" translucent="true">
    <ion-toolbar style="height: 80px" class="ion-text-center" color="success">
      <ion-buttons slot="start">
        <ion-back-button mode="md" defaultHref="/"> </ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-center">
        <h5 *ngIf=" b_nuevo_pal  == true">
          Pallet Nuevo<br />Estiba:{{banda.c_codigo_sel}}
        </h5>
        <h5 *ngIf=" b_nuevo_pal  == false">
          Pallet Existente <br />Estiba:{{banda.c_codigo_sel}}
        </h5>
      </ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <form #formulario="ngForm">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-card>
              <ion-item>
                <ion-label>
                  <h4>{{banda.c_codigo_lot}} - {{banda.v_nombre_lot}}</h4>
                  <h4>{{banda.c_codigo_cul}} - {{banda.v_nombre_cul}}</h4>
                  <h4>{{banda.c_codigo_bnd}} - {{banda.v_nombre_bnd}}</h4>
                </ion-label>
              </ion-item>
            </ion-card>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-label class="ion-label-h">Código</ion-label>
            <ion-item>
              <ion-input
                #inputpallet
                (keyup.enter)="buscarPalletVirtualCodigo(inputpallet.value)"
                [(ngModel)]="c_codigo_pal"
                [value]="c_codigo_pal |uppercase"
                name="ccodigopal"
                type="text"
                inputmode="text"
                maxlength="10"
                class="search-input"
                placeholder="Teclee un código de Palet"
              ></ion-input>
              <ion-icon
                *ngIf="b_nuevo_pal  == false"
                name="close-circle"
                (click)="removerCodigo()"
              ></ion-icon>
              <ion-icon
                (click)="buscarPalletVirtual()"
                slot="end"
                name="search"
                class="search-button"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-chip color="success" *ngIf="pallet.n_totalbulxpa_pme !== 0">
              <ion-label
                >Total de Cajas/Bultos: {{pallet.n_totalbulxpa_pme | number :
                "1.0-0"}}
              </ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>

        <ion-row class="ion-padding-bottom">
          <ion-col size="12">
            <ion-item
              style="border-radius: 15px; border: solid 2px green"
              color="success"
            >
              <ion-label> Presentación</ion-label>
              <ion-icon
                (click)="BuscarPresentacion()"
                slot="end"
                name="search-outline"
              ></ion-icon>
            </ion-item>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-label class="ion-label-h">Producto</ion-label>
            <ion-item *ngIf="producto.c_codigo_pro == ''">
              <ion-input
                #inputproducto
                [(ngModel)]="c_codigo_pro"
                name="ccodigopro"
                (keyup.enter)="buscarProductoPorCodigo(inputproducto.value)"
                type="text"
                inputmode="numeric"
                class="search-input"
                maxlength="4"
                placeholder="Teclee un código de Producto"
                required
                pattern="^[0-9]+$"
              ></ion-input>
              <ion-icon
                (click)="buscarProducto()"
                slot="end"
                name="search"
                class="search-button"
              ></ion-icon>
            </ion-item>

            <ion-chip
              style="margin-top: 2vh"
              color="success"
              *ngIf="producto.c_codigo_pro !== ''"
            >
              <ion-label
                >{{producto.c_codigo_pro }} - {{producto.v_nombre_pro}}
              </ion-label>

              <ion-icon
                name="close-circle"
                (click)="removerProducto()"
              ></ion-icon>
            </ion-chip>
            <ion-chip
              style="margin-top: 1vh"
              color="success"
              *ngIf="producto.c_codigo_pro !== ''"
            >
              <ion-label>
                Tamaño: {{producto.c_codigo_tam}} - {{producto.v_nombre_tam}}
              </ion-label>
            </ion-chip>

            <ion-chip
              style="margin-top: 1vh"
              color="success"
              *ngIf="producto.c_codigo_pro !== ''"
            >
              <ion-label>
                Envase: {{producto.c_codigo_env}} - {{producto.v_nombre_env}}
              </ion-label>
            </ion-chip>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-label class="ion-label-h">Etiqueta</ion-label>
            <ion-item *ngIf="etiqueta.c_codigo_eti == ''">
              <ion-input
                #inputetiqueta
                [(ngModel)]="c_codigo_eti"
                name="ccodigoeti"
                (keyup.enter)="buscarEtiquetaPorCodigo(inputetiqueta.value)"
                type="text"
                inputmode="numeric"
                maxlength="2"
                class="search-input"
                placeholder="Teclee un código de Etiqueta"
                required
                pattern="^[0-9]+$"
              ></ion-input>
              <ion-icon
                (click)="buscarEtiqueta()"
                slot="end"
                name="search"
                class="search-button"
              ></ion-icon>
            </ion-item>

            <ion-chip
              style="margin-top: 2vh"
              color="success"
              *ngIf="etiqueta.c_codigo_eti !== ''"
            >
              <ion-label
                >{{etiqueta.c_codigo_eti }} -
                {{etiqueta.v_nombre_eti}}</ion-label
              >
              <ion-icon
                name="close-circle"
                (click)="removerEtiqueta()"
              ></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="12">
            <ion-label class="ion-label-h">Color</ion-label>
            <ion-item *ngIf="color.c_codigo_col == ''">
              <ion-input
                #inputcolor
                [(ngModel)]="c_codigo_col"
                name="ccodigocol"
                type="text"
                inputmode="numeric"
                (keyup.enter)="buscarColorPorCodigo(inputcolor.value)"
                maxlength="2"
                class="search-input"
                placeholder="Teclee un código de Color"
                required
                pattern="^[0-9]+$"
              ></ion-input>
              <ion-icon
                (click)="buscarColor()"
                slot="end"
                name="search"
                class="search-button"
              ></ion-icon>
            </ion-item>

            <ion-chip
              style="margin-top: 2vh"
              color="success"
              *ngIf="color.c_codigo_col != ''"
            >
              <ion-label
                >{{color.c_codigo_col }} - {{color.v_nombre_col}}</ion-label
              >
              <ion-icon name="close-circle" (click)="removerColor()"></ion-icon>
            </ion-chip>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="8">
            <ion-label class="ion-label-h">Cajas/Bultos</ion-label>
            <ion-item>
              <ion-input
                #inputcajas
                [(ngModel)]="n_bulxpa_pal"
                name="n_bulxpa_pal"
                [value]="n_bulxpa_pal |number:'1.0-0'"
                type="text"
                inputmode="numeric"
                [disabled]="b_conteocajas"
                placeholder="Teclee la cantidad"
                required
                pattern="^[0-9]+$"
              ></ion-input>
            </ion-item>
          </ion-col>
          <ion-col size="4">
            <ion-button
              color="success"
              *ngIf="b_conteocajas === true"
              (click)="ConteoCajas()"
            >
              <ion-icon
                slot="icon-only"
                name="barcode-outline"
                class="search-button"
              ></ion-icon>
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-grid>
    </form>

    <ion-row style="display: grid" class="ion-padding">
      <ion-button
        expand="full"
        shape="round"
        style="height: 50px"
        color="success"
        (click)="newpPal()"
        [disabled]="!formulario.valid"
      >
        Guardar
        <ion-icon slot="end" name="save-outline" size="large"></ion-icon>
      </ion-button>
    </ion-row>
  </ion-content>
</ion-app>
