<app-menu [opcionesmenu]="opcionesmenu"></app-menu>

<ion-app id="main">
  <ion-header>
    <ion-toolbar color="success" class="ion-padding-top">
      <ion-buttons slot="start">
        <ion-menu-button menu="first"  ite> </ion-menu-button>
      </ion-buttons>
      <ion-title class="ion-text-center ion-text-capitalize">
        <h1>
          AgroSmart <br />
          Empaque
        </h1>
      </ion-title>
      <ion-avatar slot="end" class="ion-padding">
        <img src="assets\icon\as.jpg" />
      </ion-avatar>
    </ion-toolbar>
  </ion-header>

  <ion-content [fullscreen]="true">
    <ion-list>
      <ion-card  *ngFor="let c of opcionesmenu">
        <ion-item 
          class="ion-no-border"
          detail="true"
          [routerLink]="c.v_nombreclase_sme"
        >
          <ion-icon slot="start" [name]="c.v_imagetile"></ion-icon>
          {{c.v_nombre_sme}}
        </ion-item>
      </ion-card>
    </ion-list>
  </ion-content>
</ion-app>
