<ion-app>
  <ion-header mode="ios" translucent="true">
    <ion-toolbar class="ion-text-center" color="success">
      <ion-buttons>
        <ion-back-button> </ion-back-button>
      </ion-buttons>
      <ion-avatar
        slot="start"
        class="ion-margin-horizontal ion-margin-vertical"
      >
        <img src="assets\icon\as.jpg" />
      </ion-avatar>
      <ion-title   class="ion-text-center ion-text-capitalize">
        <h1>
          AgroSmart <br />
          Empaque
        </h1>
      </ion-title>
      <ion-icon
        id="popover-button"
        class="ion-padding"
        slot="end"
        name="settings-outline"
        size="large"
      ></ion-icon>
    </ion-toolbar>
  </ion-header>

  <ion-popover trigger="popover-button" [dismissOnSelect]="true">
    <ng-template>
      <ion-content>
        <ion-list>
          <ion-item
            [button]="true"
            [detail]="false"
            (click)="fn_configuraciones()"
            >Servidor Host
            <ion-icon slot="end" name="server-outline"></ion-icon>
          </ion-item>
          <ion-item
            [button]="true"
            [detail]="false"
            (click)="fn_cargarempresas()"
            >Cargar Empresas
            <ion-icon slot="end" name="reload-outline"></ion-icon>
          </ion-item>
        </ion-list>
      </ion-content>
    </ng-template>
  </ion-popover>

  <ion-content [fullscreen]="true" class="ion-padding">
    <ion-img src="assets\icon\agrosmartlogo.jpg"> </ion-img>
    <form #formulario="ngForm" class="ion-padding">
      <ion-item class="ion-margin-bottom">
        <ion-label position="floating">Usuario</ion-label>
        <ion-input
          class="ion-text-uppercase"
          type="text"
          name="user"
          [(ngModel)]="usuario.c_codigo_usu"
          placeholder="Usuario"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Contraseña</ion-label>
        <ion-input
          type="password"
          name="password"
          [(ngModel)]="usuario.v_passwo_usu"
          placeholder="Contraseña"
          required
        >
        </ion-input>
      </ion-item>

      <ion-item class="ion-padding-top">
        <ion-label position="floating"> Empresa </ion-label>
        <ion-select
          style="width: 100%"
          mode="ios"
          interface="popover"
          class="ion-text-center"
          placeholder="Seleccionar Empresa"
          (ionChange)="handleChange($event)"
        >
          <ion-select-option
            *ngFor="let emp of empresas"
            value="{{emp.C_codigo_emp}}"
            >{{emp.V_nombre_emp}}</ion-select-option
          >
        </ion-select>
      </ion-item>

      <ion-button
        disabled="{{!formulario.valid}}"
        color="success"
        class="ion-margin-top"
        (click)="login()"
        expand="full"
        shape="round"
        style="height: 50px"
      >
        <ion-label>Inicial Sección</ion-label>
        <ion-icon name="log-in-outline"></ion-icon>
      </ion-button>
    </form>
  </ion-content>

  <ion-footer>
    <ion-toolbar>
      <ion-title class="ion-text-center">
        <ion-label>
          Versión: {{versionapp}}
          <h5>&copy; Copyright 2022</h5>
        </ion-label>
      </ion-title>
    </ion-toolbar>
  </ion-footer>
</ion-app>
