<ion-header mode="ios" translucent="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Buscar Etiquetas</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item id="buscar">
          <ion-label position="stacked">Solo Etiquetas Activas</ion-label>
          <ion-input  autofocus="true"
            (ionChange)="fn_filtro($event)"
            type="number"
            inputmode="number"
            maxlength="2"
            placeholder="Teclee Codigó para Filtrar Etiquetas"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-card
            (click)="seleccionarEtiqueta(etiqueta)"
            *ngFor="
              let etiqueta of etiquetas | filtro : texto_filtro : 'c_codigo_eti'  "   >
            <ion-item>
              <p>
                <strong>
                  {{ etiqueta.c_codigo_eti }} - {{ etiqueta.v_nombre_eti }}
                </strong>
              </p>
            </ion-item>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
