<ion-header mode="ios" translucent="true">
  <ion-toolbar style="height: 60px" color="success">
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">
      <ion-label class="ion-padding-top">
        Buscar <br />
        Presentación
      </ion-label>
    </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content> </ion-refresher-content>
  </ion-refresher>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-card
            (click)="seleccionarPresentacion(presentacion)"
            *ngFor="let presentacion of presentacions"
          >
            <ion-card-header>
              <ion-card-title
                >{{ presentacion.c_codigo_pro }} -
                {{ presentacion.c_codigo_eti }}-
                {{ presentacion.c_codigo_col }}</ion-card-title
              >
            </ion-card-header>
            <ion-card-content>
              <ion-label
                >{{ presentacion.v_nombre_pro }} /
                {{ presentacion.v_nombre_eti }} /
                {{ presentacion.v_nombre_col }}</ion-label
              >
            </ion-card-content>
          </ion-card>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
