<ion-header mode="ios" translucent="true">
  <ion-toolbar color="success">
    <ion-buttons slot="start">
      <ion-button (click)="cerrar()">
        <ion-icon name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize">Buscar Productos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <ion-item>
          <ion-label position="stacked">Solo Productos Activos</ion-label>
          <ion-input
            (ionChange)="fn_filtro($event)"
            type="number"
            maxlength="4"
            placeholder="Teclee Codigó para Filtrar Productos"
          ></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
        <ion-list>
          <ion-item
            *ngFor="
              let producto of productos | filtro : texto_filtro : 'c_codigo_pro'
            "
          >
            <ion-label (click)="seleccionarProducto(producto)">
              {{ producto.c_codigo_pro }} - {{ producto.v_nombre_pro }}
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
